@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    background-color: #202426;
}

.content{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

p{
    color: white;
    font-size: 2em;
}

input{
    width: 30%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 10px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

input:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px dodgerblue;
}

.btnConvert {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: dodgerblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.btnConvert:hover {
    background-color: dodgerblue
}
.btnConvert:active {
    background-color: dodgerblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}